<footer>	
	<div class="FooterIconContainer">
	<a href="mailto:hello@happynessandco.com">
		<img class="FooterIconEmail" src="_img/icon_email.svg">
	</a>
	<p class="FooterAmp RedText">&amp;</p>
	<a href="http://instagram.com/jennminerva" alt="http://instagram.com/jennminerva">
		<img class="FooterIconInsta" src="_img/icon_insta_border.svg" alt="hello@happynessandco.com">
	</a>
	</div>
	<p class="RedText FooterCopywrite">&copy; Jenn Minerva, 2017</p>
</footer>
</body>
</html>
