<footer>
	<div class="BtnRequestContainer">
    <a href="http://bit.ly/2uMBxmg">
      <button class="d-mt9 BtnRequest">Request yours now</button>
    </a>
  </div>
	<div class="FooterIconContainer">
		<a href="mailto:hello@happynessandco.com">
			<img class="FooterIconEmail" src="_img/icon_email.svg">
		</a>
		<p class="FooterAmp RedText">&amp;</p>
		<a href="http://instagram.com/jennminerva" alt="http://instagram.com/jennminerva">
			<img class="FooterIconInsta" src="_img/icon_insta_border.svg" alt="hello@happynessandco.com">
		</a>
	</div>
	<p class="RedText FooterCopyright">&copy; 2017 Jenn Minerva. All Rights Reserved.</p>
</footer>
</body>
</html>