<% include partials/header %>
<!-- <div class="PinkBackground"> -->
  <section id="Welcome">
    <div class="ContentContainer">
      <img class="HeadingLarge" src="_img/logo.svg" alt="Happyness and Co">
      <p class="Greeting">Life&#8217;s best moments are experienced with cake. Macarons will also do the trick. I&#8217;d love to help you make lasting memories, and maybe get you that sugar fix while we&#8217;re at it.</p>
      <a href="">
      	<button class="BtnRequest">Start an Order</button>
      </a>
      <a href="https://www.instagram.com/jennminerva/">
        <div class="Instagram">
          <img src="_img/IconInsta.svg">
          <p>&#64;jennminerva</p>
        </div>
      </a>
    </div>
    <div class="Gallery">
      <div class="GalleryImg">
        <img src="_img/choc_drip.jpg">
      </div>
      <div class="GalleryImg ImgRight">
        <img src="_img/mac_close.jpg">
      </div>
    </div>
  </section>
<!-- </div> -->

<section id="FoodMenu">
  <div class="FoodMenuContainer">
    <div class="ContentContainer">
      <div class="HeadingLarge">
        <img src="_img/menu.svg" alt="Food Menu">
      </div>
      <ol class="FoodMenuPricing">
        <li>cupcakes</li>
        <li class="AlignRight">&#36;30</li>
        <li>6 inch cake</li>
        <li class="AlignRight">&#36;30</li>
        <li>9 inch cake</li>
        <li class="AlignRight">&#36;40</li>
        <li>macarons</li>
        <li class="AlignRight">&#36;18</li>
      </ol>
      <p class="CircularStd">
        The minimum order for macarons and cupcakes is one dozen, after which amounts may be added in increments of six. Tiered cakes are available upon request.
      </p>
      <p class="CircularStd">One flavor per dozen cupcakes.</p>
      <p class="CircularStd">One flavor per half dozen macarons.</p>
      <p class="CircularStd">
        Don&#8217;t see what you&#8217;re looking for? Let me know! I&#8217;m happy to create whatever flavor combination you&#8217;re craving.
      </p>
    </div>
    <div class="Gallery">
      <div class="GalleryImg">
        <img src="_img/rose_cake.jpg">
      </div>
    </div>
    <dl class="FoodMenuList">
      <h1 class="HeadingSmall">Cake</h1>
      <dt>Red Wine Chocolate</dt>
      <dd class="CircularStd">Red wine chocolate cake &amp; vanilla buttercream</dd>
      <dt>Chocolate Biscoff</dt>
      <dd class="CircularStd">Buttermilk chocolate cake &amp; cookie butter buttercream</dd>
      <dt>Salted Caramel</dt>
      <dd class="CircularStd">Caramel cake, vanilla buttercream &amp; salted caramel sauce</dd>
      <dt>Earl Grey Lavender</dt>
      <dd class="CircularStd">Earl grey cake &amp; lavender buttercream</dd>
      <dt>Raspberry Lemon</dt>
      <dd class="CircularStd">Buttermilk vanilla cake, lemon curd, raspberry buttercream &amp; candied lemon slices</dd>
      <dt>Carrot</dt>
      <dd class="CircularStd">Carrot cake (carrots, walnuts, coconut, raisins) &amp; cream cheese buttercream</dd>
      <dt>Funfetti</dt>
      <dd class="CircularStd">Vanilla funfetti cake, chocolate buttercream &amp; colorful sprinkles</dd>
      <dt>Black Forest (+&#36;5)</dt>
      <dd class="CircularStd">Red wine chocolate cake, boozy cherry compote &amp; vanilla buttercream</dd>
      <dt>Honeyed Peach &amp; Cardamom (+&#36;5)</dt>
      <dd class="CircularStd">Buttermilk vanilla cake, honey-roasted peach slices &amp; cardamom vanilla buttercream</dd>
    </dl>
    <div class="Gallery">
      <div class="GalleryImg ImgRight">
        <img src="_img/mac_band.jpeg">
      </div>
    </div>
    <dl class="FoodMenuList">
      <h1 class="HeadingSmall">Macarons</h1>
      <dt>Chocolate Cherry</dt>
      <dd class="CircularStd">Dark chocolate shell &amp; cherry preserves</dd>
      <dt>Earl Grey Cream</dt>
      <dd class="CircularStd">Earl grey shell &amp; vanilla buttercream</dd>
      <dt>Raspberry Lemon</dt>
      <dd class="CircularStd">Raspberry shell &amp; lemon buttercream</dd>
      <dt>Salted Caramel</dt>
      <dd class="CircularStd">Vanilla shell &amp; salted caramel sauce</dd>
      <dt>Double Chocolate</dt>
      <dd class="CircularStd">Dark chocolate shell &amp; chocolate ganache</dd>
      <dt>Pistachio Cream</dt>
      <dd class="CircularStd">Vanilla shell &amp; pistachio buttercream</dd>
      <dt>White Mocha</dt>
      <dd class="CircularStd">Espresso shell &amp; white chocolate ganache</dd>
      <dt>Chocolate Caramel</dt>
      <dd class="CircularStd">Chocolate shell &amp; salted caramel sauce</dd>
      <dt>Toasted Coconut</dt>
      <dd class="CircularStd">Vanilla shell &amp; toasted coconut buttercream</dd>
      <dt>Red Wine Chocolate</dt>
      <dd class="CircularStd">Vanilla shell &amp; red wine chocolate ganache</dd>
      <dt>Lavender Cream</dt>
      <dd class="CircularStd">Vanilla shell &amp; lavender buttercream</dd>
      <dt>Vanilla Cardamom</dt>
      <dd class="CircularStd">Vanilla shell &amp; cardamom buttercream</dd>
    </dl>
  </div>
</section>
<div class="Gallery">
  <div class="GalleryImg">
    <img src="_img/choc_earl_grey_macs.jpg">
  </div>
  <div class="GalleryImg ImgRight">
    <img src="_img/raz_ruffles_lil.jpeg">
  </div>
</div>

<% include partials/footer %>