<% include partials/header %>
<section id="Welcome">
  <div class="GalleryLg">
    <img class="GalleryLgItem GalleryLgItem1 GalleryItemShadow" src="_img/lemon_raz.jpeg" alt="Lemon Raspberry Cake">
    <img class="GalleryLgItem GalleryLgItem2 GalleryItemShadow" src="_img/rose_cake.jpg" alt="Pink and Purple Rose Cake">
    <img class="GalleryLgItem GalleryLgItem3 GalleryItemShadow" src="_img/raz_ruffles_close.jpg" alt="Colorful macarons">
    <img class="GalleryLgItem GalleryLgItem4 GalleryItemShadow" src="_img/choc_drip.jpg" alt="Chocolate Drip Cake">
    <img class="GalleryLgItem GalleryLgItem5 GalleryItemShadow" src="_img/gilt_roses.jpg" alt="Gilded Roses Cake">
    <img class="GalleryLgItem GalleryLgItem6 GalleryItemShadow" src="_img/mac_band.jpeg" alt="Pink Ruffle Cake">
    <img class="GalleryLgItem GalleryLgItem7 GalleryItemShadow" src="_img/choc_earl_grey_macs.jpg" alt="Chocolate and earl grey macarons">
  </div>
  <div class="ContentContainer">
    <img class="HeadingLargeLogo" src="_img/logo.svg" alt="Happyness and Co">
    <p class="Greeting RedText">Life&#8217;s best moments are experienced with cake. Macarons will also do the trick. I&#8217;d love to help you make lasting memories, and maybe get you that sugar fix while we&#8217;re at it.</p>
    <a href="http://bit.ly/2uMBxmg">
    	<button>Request yours now</button>
    </a>
    <a href="https://www.instagram.com/jennminerva/">
      <div class="Instagram">
        <img src="_img/IconInsta.svg">
        <p>&#64;jennminerva</p>
      </div>
    </a>
  </div>
</section>
<div class="GallerySm">
  <div class="GallerySmItem GalleryItemShadow">
    <img src="_img/choc_drip.jpg">
  </div>
  <div class="GallerySmItem GalleryItemShadow FloatRight">
    <img src="_img/mac_close.jpg">
  </div>
</div>
<section id="FoodMenu">
  <div class="FoodMenuContainer">
    <div class="ContentContainer">
      <div class="HeadingLarge">
        <img src="_img/menu.svg" alt="Food Menu">
      </div>
      <ol class="FoodMenuPricing">
        <li>cupcakes</li>
        <li class="AlignRight">&#36;30</li>
        <li>6 inch cake</li>
        <li class="AlignRight">&#36;30</li>
        <li>9 inch cake</li>
        <li class="AlignRight">&#36;40</li>
        <li>macarons</li>
        <li class="AlignRight">&#36;18</li>
      </ol>
      <p>
        The minimum order for macarons and cupcakes is one dozen, after which amounts may be added in increments of six. Tiered cakes are available upon request.
      </p>
      <p>One flavor per dozen cupcakes.</p>
      <p>One flavor per half dozen macarons.</p>
      <p>
        Don&#8217;t see what you&#8217;re looking for? I&#8217;d love to create whatever flavor combination you&#8217;re craving.
      </p>
    </div>
    <div class="GallerySm">
      <div class="GallerySmItem GalleryItemShadow">
        <img src="_img/rose_cake.jpg">
      </div>
      <div class="GallerySmItem GalleryItemShadow FloatRight">
        <img src="_img/lemon_raz.jpeg">
      </div>
    </div>
    <h1 class="HeadingSmall FoodMenuHeading First">Cake</h1>
    <dl class="FoodMenuList">
      <div class="FoodMenuListItem">
        <dt>Red Wine Chocolate (+&#36;5)</dt>
        <dd>Red wine chocolate cake &amp; vanilla buttercream</dd>
      </div>
      <div class="FoodMenuListItem">
        <dt>Chocolate Biscoff</dt>
        <dd>Buttermilk chocolate cake &amp; cookie butter buttercream</dd>
      </div>
      <div class="FoodMenuListItem">
        <dt>Salted Caramel</dt>
        <dd>Caramel cake, vanilla buttercream &amp; salted caramel sauce</dd>
      </div>
      <div class="FoodMenuListItem">
        <dt>Earl Grey Lavender</dt>
        <dd>Earl grey cake &amp; lavender buttercream</dd>
      </div>
      <div class="FoodMenuListItem">
        <dt>Raspberry Lemon</dt>
        <dd>Buttermilk vanilla cake, lemon curd, raspberry buttercream &amp; candied lemon slices</dd>
      </div>
      <div class="FoodMenuListItem">
        <dt>Spiced Carrot</dt>
        <dd>Carrot cake (carrots, walnuts, coconut, raisins) &amp; cream cheese buttercream</dd>
      </div>
      <div class="FoodMenuListItem">
        <dt>Funfetti</dt>
        <dd>Vanilla funfetti cake, chocolate buttercream &amp; colorful sprinkles</dd>
      </div>
      <div class="FoodMenuListItem">
        <dt>Black Forest (+&#36;5)</dt>
        <dd>Red wine chocolate cake, boozy cherry compote &amp; vanilla buttercream</dd>
      </div>
      <div class="FoodMenuListItem">
        <dt>Honeyed Peach &amp; Cardamom (+&#36;5)</dt>
        <dd>Buttermilk vanilla cake, honey-roasted peach slices &amp; cardamom vanilla buttercream</dd>
      </div>
    </dl>
    <div class="GallerySm">
      <div class="GallerySmItem GalleryItemShadow">
        <img src="_img/choc_earl_grey_macs.jpg">
      </div>
      <div class="GallerySmItem GalleryItemShadow FloatRight">
        <img src="_img/mac_band.jpeg">
      </div>
    </div>
    <h1 class="HeadingSmall FoodMenuHeading FullWidth">Macarons</h1>
    <dl class="FoodMenuList FullWidth">
      <div class="FoodMenuListItem FullWidth">
        <dt>Chocolate Cherry</dt>
        <dd>Dark chocolate shell &amp; cherry preserves</dd>
      </div>
      <div class="FoodMenuListItem FullWidth">
        <dt>Earl Grey Cream</dt>
        <dd>Earl grey shell &amp; vanilla buttercream</dd>
      </div>
      <div class="FoodMenuListItem FullWidth">
        <dt>Raspberry Lemon</dt>
        <dd>Raspberry shell &amp; lemon buttercream</dd>
      </div>
      <div class="FoodMenuListItem FullWidth">
        <dt>Salted Caramel</dt>
        <dd>Vanilla shell &amp; salted caramel sauce</dd>
      </div>
      <div class="FoodMenuListItem FullWidth">
        <dt>Double Chocolate</dt>
        <dd>Dark chocolate shell &amp; chocolate ganache</dd>
      </div>
      <div class="FoodMenuListItem FullWidth">
        <dt>Pistachio Cream</dt>
        <dd>Vanilla shell &amp; pistachio buttercream</dd>
      </div>
      <div class="FoodMenuListItem FullWidth">
        <dt>White Mocha</dt>
        <dd>Espresso shell &amp; white chocolate ganache</dd>
      </div>
      <div class="FoodMenuListItem FullWidth">
        <dt>Chocolate Caramel</dt>
        <dd>Chocolate shell &amp; salted caramel sauce</dd>
      </div>
      <div class="FoodMenuListItem FullWidth">
        <dt>Toasted Coconut</dt>
        <dd>Vanilla shell &amp; toasted coconut buttercream</dd>
      </div>
      <div class="FoodMenuListItem FullWidth">
        <dt>Red Wine Chocolate</dt>
        <dd>Vanilla shell &amp; red wine chocolate ganache</dd>
      </div>
      <div class="FoodMenuListItem FullWidth">
        <dt>Lavender Cream</dt>
        <dd>Vanilla shell &amp; lavender buttercream</dd>
      </div>
      <div class="FoodMenuListItem FullWidth">
        <dt>Vanilla Cardamom</dt>
        <dd>Vanilla shell &amp; cardamom buttercream</dd>
      </div>
    </dl>
  </div>
  <div class="BtnRequestContainer">
    <a href="http://bit.ly/2uMBxmg">
      <button class="d-mt9 BtnRequest">Request yours now</button>
    </a>
  </div>
</section>
<div class="GallerySm">
  <div class="GallerySmItem GalleryItemShadow">
    <img src="_img/caramel.jpeg">
  </div>
  <div class="GallerySmItem GalleryItemShadow FloatRight">
    <img src="_img/raz_ruffles_lil.jpeg">
  </div>
</div> 
<% include partials/footer %>