<% include partials/header %>
<!-- <div class="PinkBackground"> -->
  <section id="Welcome">
    <div class="ContentContainer">
      <img class="HeadingLarge" src="_img/logo.svg" alt="Happyness and Co">
      <p class="Greeting">Life&#8217;s best moments are experienced with cake. Macarons will also do the trick. I&#8217;d love to help you make lasting memories, and maybe get you that sugar fix while we&#8217;re at it.</p>
      <a href="">
      	<button class="BtnRequest">Have a Request?</button>
      </a>
      <a href="https://www.instagram.com/jennminerva/">
        <div class="Instagram">
          <img src="_img/IconInsta.svg">
          <p>&#64;jennminerva</p>
        </div>
      </a>
    </div>
    <div class="Gallery">
      <div class="GalleryImg">
        <img src="_img/choc_drip.jpg">
      </div>
      <div class="GalleryImg ImgRight">
        <img src="_img/mac_close.jpg">
      </div>
<!--     </div> -->
  </section>
</div>

<section id="FoodMenu">
  <div class="FoodMenuContainer">
    <div class="ContentContainer">
      <div class="HeadingLarge">
        <img src="_img/menu.svg" alt="Food Menu">
      </div>
      <ol class="FoodMenuPricing">
        <li>cupcakes</li>
        <li class="AlignRight">&#36;30</li>
        <li>6 inch cake</li>
        <li class="AlignRight">&#36;30</li>
        <li>9 inch cake</li>
        <li class="AlignRight">&#36;40</li>
        <li>macarons</li>
        <li class="AlignRight">&#36;18</li>
      </ol>
      <p class="CircularStd">
        The minimum order for macarons and cupcakes is one dozen, after which amounts may be added in increments of six. Tiered cakes are available upon request.
      </p>
      <p class="CircularStd">One flavor per dozen cupcakes.</p>
      <p class="CircularStd">One flavor per half dozen macarons.</p>
      <p class="CircularStd">
        Don&#8217;t see what you&#8217;re looking for? Let me know! I&#8217;m happy to create whatever flavor combination you&#8217;re craving.
      </p>

    </div>
    <dl class="FoodMenuList">
      <dt>Red Wine Chocolate</dt>
      <dd>Red wine chocolate cake &amp; vanilla buttercream</dd>
      <dt>Chocolate Biscoff</dt>
      <dd>Buttermilk chocolate cake &amp; cookie butter buttercream</dd>
      <dt>Salted Caramel</dt>
      <dd>Caramel cake, vanilla buttercream &amp; salted caramel sauce</dd>
      <dt>Earl Grey Lavender</dt>
      <dd>Earl grey cake &amp; lavender buttercream</dd>
      <dt>Raspberry Lemon</dt>
      <dd>Buttermilk vanilla cake, lemon curd, raspberry buttercream &amp; candied lemon slices</dd>
      <dt>Carrot</dt>
      <dd>Carrot cake (carrots, walnuts, coconut, raisins) &amp; cream cheese buttercream</dd>
      <dt>Funfetti</dt>
      <dd>Vanilla funfetti cake, chocolate buttercream &amp; colorful sprinkles</dd>
      <dt>Black Forest (+&#36;5)</dt>
      <dd>Red wine chocolate cake, boozy cherry compote &amp; vanilla buttercream</dd>
      <dt>Honeyed Peach &amp; Cardamom (+&#36;5)</dt>
      <dd>Buttermilk vanilla cake, honey-roasted peach slices &amp; cardamom vanilla buttercream</dd>
    </dl>
    <dl class="FoodMenuList">
      <dt></dt>
      <dd></dd>
    </dl>
  </div>
</section>

<% include partials/footer %>