<% include partials/header %>
<section id="Welcome">
  <div class="GalleryLg">
    <img class="GalleryLgItem GalleryLgItem1 GalleryItemShadow" src="_img/lemon_raz.jpeg" alt="Lemon Raspberry Cake">
    <img class="GalleryLgItem GalleryLgItem2 GalleryItemShadow" src="_img/rose_cake.jpg" alt="Pink and Purple Rose Cake">
    <img class="GalleryLgItem GalleryLgItem3 GalleryItemShadow" src="_img/raz_ruffles_close.jpg" alt="Colorful macarons">
    <img class="GalleryLgItem GalleryLgItem4 GalleryItemShadow" src="_img/choc_drip.jpg" alt="Chocolate Drip Cake">
    <img class="GalleryLgItem GalleryLgItem5 GalleryItemShadow" src="_img/gilt_roses.jpg" alt="Gilded Roses Cake">
    <img class="GalleryLgItem GalleryLgItem6 GalleryItemShadow" src="_img/mac_band.jpeg" alt="Pink Ruffle Cake">
    <img class="GalleryLgItem GalleryLgItem7 GalleryItemShadow" src="_img/choc_earl_grey_macs.jpg" alt="Chocolate and earl grey macarons">
  </div>
  <div class="ContentContainer">
    <img class="HeadingLargeLogo" src="_img/logo.svg" alt="Happyness and Co">
    <p class="Greeting RedText">Life&#8217;s best moments are experienced with cake. Macarons will also do the trick. I&#8217;d love to help you make lasting memories, and maybe get you that sugar fix while we&#8217;re at it.</p>
    <a href="">
    	<button class="BtnRequest SansSerif">Start an Order</button>
    </a>
    <a href="https://www.instagram.com/jennminerva/">
      <div class="Instagram">
        <img src="_img/IconInsta.svg">
        <p>&#64;jennminerva</p>
      </div>
    </a>
  </div>
  <div class="GallerySm">
    <div class="GallerySmItem GalleryItemShadow">
      <img src="_img/choc_drip.jpg">
    </div>
    <div class="GallerySmItem GalleryItemShadow FloatRight">
      <img src="_img/mac_close.jpg">
    </div>
  </div>
</section>
<section id="FoodMenu">
  <div class="FoodMenuContainer">
    <div class="ContentContainer">
      <div class="HeadingLarge">
        <img src="_img/menu.svg" alt="Food Menu">
      </div>
      <ol class="FoodMenuPricing">
        <li>cupcakes</li>
        <li class="AlignRight">&#36;30</li>
        <li>6 inch cake</li>
        <li class="AlignRight">&#36;30</li>
        <li>9 inch cake</li>
        <li class="AlignRight">&#36;40</li>
        <li>macarons</li>
        <li class="AlignRight">&#36;18</li>
      </ol>
      <p class="SansSerif">
        The minimum order for macarons and cupcakes is one dozen, after which amounts may be added in increments of six. Tiered cakes are available upon request.
      </p>
      <p class="SansSerif">One flavor per dozen cupcakes.</p>
      <p class="SansSerif">One flavor per half dozen macarons.</p>
      <p class="SansSerif">
        Don&#8217;t see what you&#8217;re looking for? I&#8217;d love to create whatever flavor combination you&#8217;re craving.
      </p>
    </div>
    <div class="GallerySm">
      <div class="GallerySmItem GalleryItemShadow">
        <img src="_img/rose_cake.jpg">
      </div>
      <div class="GallerySmItem GalleryItemShadow FloatRight">
        <img src="_img/lemon_raz.jpeg">
      </div>
    </div>
    <h1 class="HeadingSmall FoodMenuHeading">Cake</h1>
    <dl class="FoodMenuList">
      <div class="FoodMenuListItem">
        <dt>Red Wine Chocolate (+&#36;5)</dt>
        <dd class="SansSerif">Red wine chocolate cake &amp; vanilla buttercream</dd>
      </div>
      <div class="FoodMenuListItem">
        <dt>Chocolate Biscoff</dt>
        <dd class="SansSerif">Buttermilk chocolate cake &amp; cookie butter buttercream</dd>
      </div>
      <div class="FoodMenuListItem">
        <dt>Salted Caramel</dt>
        <dd class="SansSerif">Caramel cake, vanilla buttercream &amp; salted caramel sauce</dd>
      </div>
      <div class="FoodMenuListItem">
        <dt>Earl Grey Lavender</dt>
        <dd class="SansSerif">Earl grey cake &amp; lavender buttercream</dd>
      </div>
      <div class="FoodMenuListItem">
        <dt>Raspberry Lemon</dt>
        <dd class="SansSerif">Buttermilk vanilla cake, lemon curd, raspberry buttercream &amp; candied lemon slices</dd>
      </div>
      <div class="FoodMenuListItem">
        <dt>Spiced Carrot</dt>
        <dd class="SansSerif">Carrot cake (carrots, walnuts, coconut, raisins) &amp; cream cheese buttercream</dd>
      </div>
      <div class="FoodMenuListItem">
        <dt>Funfetti</dt>
        <dd class="SansSerif">Vanilla funfetti cake, chocolate buttercream &amp; colorful sprinkles</dd>
      </div>
      <div class="FoodMenuListItem">
        <dt>Black Forest (+&#36;5)</dt>
        <dd class="SansSerif">Red wine chocolate cake, boozy cherry compote &amp; vanilla buttercream</dd>
      </div>
      <div class="FoodMenuListItem">
        <dt>Honeyed Peach &amp; Cardamom (+&#36;5)</dt>
        <dd class="SansSerif">Buttermilk vanilla cake, honey-roasted peach slices &amp; cardamom vanilla buttercream</dd>
      </div>
    </dl>
    <div class="GallerySm">
      <div class="GallerySmItem GalleryItemShadow">
        <img src="_img/choc_earl_grey_macs.jpg">
      </div>
      <div class="GallerySmItem GalleryItemShadow FloatRight">
        <img src="_img/mac_band.jpeg">
      </div>
    </div>
    <h1 class="HeadingSmall FoodMenuHeading FullWidth">Macarons</h1>
    <dl class="FoodMenuList FullWidth">
      <div class="FoodMenuListItem FullWidth">
        <dt>Chocolate Cherry</dt>
        <dd class="SansSerif">Dark chocolate shell &amp; cherry preserves</dd>
      </div>
      <div class="FoodMenuListItem FullWidth">
        <dt>Earl Grey Cream</dt>
        <dd class="SansSerif">Earl grey shell &amp; vanilla buttercream</dd>
      </div>
      <div class="FoodMenuListItem FullWidth">
        <dt>Raspberry Lemon</dt>
        <dd class="SansSerif">Raspberry shell &amp; lemon buttercream</dd>
      </div>
      <div class="FoodMenuListItem FullWidth">
        <dt>Salted Caramel</dt>
        <dd class="SansSerif">Vanilla shell &amp; salted caramel sauce</dd>
      </div>
      <div class="FoodMenuListItem FullWidth">
        <dt>Double Chocolate</dt>
        <dd class="SansSerif">Dark chocolate shell &amp; chocolate ganache</dd>
      </div>
      <div class="FoodMenuListItem FullWidth">
        <dt>Pistachio Cream</dt>
        <dd class="SansSerif">Vanilla shell &amp; pistachio buttercream</dd>
      </div>
      <div class="FoodMenuListItem FullWidth">
        <dt>White Mocha</dt>
        <dd class="SansSerif">Espresso shell &amp; white chocolate ganache</dd>
      </div>
      <div class="FoodMenuListItem FullWidth">
        <dt>Chocolate Caramel</dt>
        <dd class="SansSerif">Chocolate shell &amp; salted caramel sauce</dd>
      </div>
      <div class="FoodMenuListItem FullWidth">
        <dt>Toasted Coconut</dt>
        <dd class="SansSerif">Vanilla shell &amp; toasted coconut buttercream</dd>
      </div>
      <div class="FoodMenuListItem FullWidth">
        <dt>Red Wine Chocolate</dt>
        <dd class="SansSerif">Vanilla shell &amp; red wine chocolate ganache</dd>
      </div>
      <div class="FoodMenuListItem FullWidth">
        <dt>Lavender Cream</dt>
        <dd class="SansSerif">Vanilla shell &amp; lavender buttercream</dd>
      </div>
      <div class="FoodMenuListItem FullWidth">
        <dt>Vanilla Cardamom</dt>
        <dd class="SansSerif">Vanilla shell &amp; cardamom buttercream</dd>
      </div>
    </dl>
  </div>
  <div class="Centered">
  <a href="">
    <button class="d-mt9 mt4 BtnRequest SansSerif">Start an Order</button>
  </a>
</section>
<div class="GallerySm">
  <div class="GallerySmItem GalleryItemShadow">
    <img src="_img/caramel.jpeg">
  </div>
  <div class="GallerySmItem GalleryItemShadow FloatRight">
    <img src="_img/raz_ruffles_lil.jpeg">
  </div>
</div> 
<section id="OrderForm">
  <div class="ContentContainer">
    <div class="HeadingLargeRequest mb5">
      <img src="_img/request.svg" alt="Make a Request">
    </div>
    <p class="SansSerif">
      This form will <span class="BoldText">generate a request</span>, and I will contact you via your chosen method within 48 hours to confirm details.
    </p>
    <p class="SansSerif">
      Please give one week's notice for single tier cakes, cupcakes, and macarons. Please request large orders, including tiered cakes, with as much notice as possible. Are you short on time? I may still be able to accomodate your needs, so do contact me anyway.
    </p>
    <p class="SansSerif">
      After confirmation, you will be invoiced to your email address. Once payment is received, the fun begins!
    </p>
  </div>
  <form>
    <p class="mt4 mb2 RedText">Name:</p>
      <input type="text" name="firstname">
    <p class="mt6 mb2 RedText">Email:</p>
    <input type="email" name="email">
    <p class="mt6 mb2 RedText">Phone:</p>
    <input type="tel" name="phone">
    <p class="mt6 mb2 RedText">Prefered contact method:</p>
    <div class="">
      <input type="radio" name="contact" value="call">
        <span class="pl1">Call me</span>
    </div>
    <div class="">
      <input type="radio" name="contact" value="text">
        <span class="pl1">Text me</span>
    </div>
    <div class="">
      <input type="radio" name="contact" value="email">
        <span class="pl1">Email me</span>
    </div>
    <p class="mt6 mb2 RedText">When do you need your items?</p>
      <input class="FormDateInput" type="tel" maxlength="2" name="month" placeholder="MM">/
      <input class="FormDateInput" type="tel" maxlength="2" name="day" placeholder="DD">
    <p class="mt6 mb2 RedText">What can I create for you?</p>
    <div class="">
      <input type="checkbox" name="baked-good" value="cake">
        <span class="pl1">Cake</span>
    </div>
    <div class="">
      <input type="checkbox" name="baked-good" value="Macarons">
        <span class="pl1">Macarons</span>
    </div>
    <div class="">
      <input type="checkbox" name="baked-good" value="other">
        <span class="pl1">Other (comment below)</span>
    </div>
    <p class="mt6 mb2 RedText">If ordering cake, what size?</p>
    <div class="">
      <input type="checkbox" name="size" value="small">
        <span class="pl1">Small (10-12 servings)</span>
    </div>
    <div class="">
      <input type="checkbox" name="size" value="regular">
      <span class="pl1">Regular (20-24 servings)</span>
    </div>
    <div class="">
      <input type="checkbox" name="size" value="cupcakes">
      <span class="pl1">Cupcakes</span>
    </div>
    <div class="">
      <input type="checkbox" name="size" value="tiered">
      <span class="pl1">Tiered</span>
    </div>
    <div class="">
      <input type="checkbox" name="size" value="other">
      <span class="pl1">Other</span>
    </div>
    <p class="mt6 mb2 RedText">Other information:</p>
    <p class="SansSerif">Cake size? Number of cupcakes or macarons? Flavor choices?</p>
     <div class="option Margin0">
      <textarea class="SansSerif" type="text" name="message">
       </textarea>
    </div>
    <!-- <button></button> -->
  </form>
</section>
<% include partials/footer %>