<% include partials/header %>
<div class="Welcome">
  <div class="ContentContainer">
    <img class="Logo" src="_img/logo.svg" alt="Happyness and Co">
    <p class="Greeting">Life's best moments are experienced with cake. Pie or cookies will also do the trick. I'd love to help you make lasting memories, and maybe handle that sugar fix while we're at it.</p>
    <a href="">
    	<button class="BtnRequest">Have a Request?</button>
    </a>
    <a href="https://www.instagram.com/jennminerva/">
      <div class="Instagram">
        <img src="_img/IconInsta.svg">
        <p>&#64;jennminerva</p>
      </div>
    </a>
  </div>
</div>

<% include partials/footer %>