<% include partials/header %>

<img src="_img/logo.svg">
<p>Life's best moments are experienced with cake. Pie or cookies will also do the trick. I'd love to help you make lasting memories, and maybe handle that sugar fix while we're at it.</p>
<a href="menu">Have a Request?</a>
<a href="https://www.instagram.com/jennminerva/">
  <div class="BtnInsta">
    <img src="_img/InstaIcon.svg">
    &#64;jennminerva
  </div>
</a>

<% include partials/footer %>
