html {
  min-height: 100%;
}
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  box-sizing: border-box;
}
body {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0;
  background: #ffe3e2;
}
.hidden {
  display: none;
  opacity: 0;
}
img {
  max-width: 100%;
  height: auto;
}
#Welcome {
  color: #ff3431;
  position: relative;
  display: flex;
}
@media laptop {
  #Welcome {
    height: 100vh;
  }
 }
.ContentContainer {
  border: 1px solid #ff3431;
  margin: 2.5rem;
  padding: 3rem 3rem 4rem 3rem;
  background: #ffe3e2
  position: relative;
  clear: both;
  height: 55rem;
}
@media tablet {
  .ContentContainer {
    color: black;
    margin: 10rem 6rem 0 6rem;
    padding: 6rem;  
  }
}
@media laptop {
  .ContentContainer {
    max-width: 375px;
    height: 57rem;
  }
}
.HeadingLarge {
  width: 75%;
}
.HeadingLargeLogo {
  width: 100%;
}
.Greeting {
  margin: 5rem 0;
  line-height: 175%;
}
button {
  background: transparent;
  border: 1px solid #ff3431;
  border-radius: 75px;
  color: #ff3431;
  height: 4rem;
  font-size: 1.3rem;
  letter-spacing: 2px;
  padding: 1rem 3rem;
  text-transform: uppercase;
  cursor: pointer;
}
button:hover {
    background: #ff3431
    color: #ffe3e2;
    -webkit-transition: background-color 200ms ease-out;
    -moz-transition: background-color 200ms ease-out;
    -o-transition: background-color 200ms ease-out;
    transition: background-color 200ms ease-out;
}
.Instagram {
  margin: 6rem 0 0 0; 
}
.Instagram p {
  display: inline;
  margin: 0 0 0 .5rem;
  color: #ff3431;
}
.Instagram img {
  position: relative;
  top: 6px;
}
.ContentContainer:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  right: -7px;
  bottom: -7px;
  border: 1px solid #ff3431;
  z-index: -1;
}

// Gallery

.GallerySm {
  margin: 6rem 0;
  overflow: auto;
}
@media laptop {
  .GallerySm {
    display: none;
  }
}
.GallerySmItem {
  max-width: 80%;
  margin: 2.5rem 0;
}
.GalleryItemShadow {
   -webkit-box-shadow: 10px 10px 0px 0px rgba(218,123,122,0.1);
  -moz-box-shadow: 10px 10px 0px 0px rgba(218,123,122,0.1);
  box-shadow: 10px 10px 0px 0px rgba(218,123,122,0.1); 
}
.FloatRight {
  float: right;
}
.GalleryLg {
  display: none;
}
@media laptop {
  .GalleryLg {
    width: 69%;
    display: block;
  }
  .GalleryLgItem {
    height: auto;
    width: 10%
    margin: 1rem;
    position: absolute;
  }
  .GalleryLgItem1 {
    width: 15%;
    top: 21%;
    left: 3%;
  }
  .GalleryLgItem2 {
    width: 21%;
    top: -2%;
    left: 22%;
  }
  .GalleryLgItem3 {
    width: 10%;
    top: 13%;
    left: 47%;
  }
  .GalleryLgItem4 {
    width: 15%;
    top: 58%;
    left: -1%;
  }
  .GalleryLgItem5 {
    width: 21%;
    top: 46%;
    left: 44%;
  }
  .GalleryLgItem6 {
    width: 21%;
    top: 71%;
    left: 13%;
  }
  .GalleryLgItem7 {
    width: 10%;
    top: 44%;
    left: 25%;
  }
}

// footer

footer {
  margin-top: 6rem;
}
.FooterIconContainer {
  margin: 0 auto;
  width: 81px;
}
.FooterIconEmail {
  background-position: center center;
  background-size: 50%;
  border: none;
  height: 28px;
  width: 28px;
}
.FooterIconInsta {
  background-position: center center;
  background-size: 50%;
  border: none;
  height: 28px;
  width: 28px;
}
.FooterAmp {
  position: relative;
  display: inline;
  top: -1rem;
  margin: 0 .5rem;
}
.FooterCopywrite {
  position: relative;
  margin: 0 auto;
  width: 135px;
  padding: 1rem 0;
}