@font-face {
	font-family: 'Canela Web';
	src: url('CanelaWeb-Light.eot');
	src: url('CanelaWeb-Light.eot?#iefix') format('embedded-opentype'),
		url('CanelaWeb-Light.woff') format('woff'),
		url('CanelaWeb-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Feijoa';
	src: url('Feijoa-Medium.eot');
	src: url('Feijoa-Medium.eot?#iefix') format('embedded-opentype'),
		url('Feijoa-Medium.woff') format('woff'),
		url('Feijoa-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Canela Web';
	src: url('CanelaWeb-Thin.eot');
	src: url('CanelaWeb-Thin.eot?#iefix') format('embedded-opentype'),
		url('CanelaWeb-Thin.woff') format('woff'),
		url('CanelaWeb-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Feijoa Medium';
	src: url('Feijoa-MediumItalic.eot');
	src: url('Feijoa-MediumItalic.eot?#iefix') format('embedded-opentype'),
		url('Feijoa-MediumItalic.woff') format('woff'),
		url('Feijoa-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Canela Web';
	src: url('CanelaWeb-LightItalic.eot');
	src: url('CanelaWeb-LightItalic.eot?#iefix') format('embedded-opentype'),
		url('CanelaWeb-LightItalic.woff') format('woff'),
		url('CanelaWeb-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}
