#FoodMenu {
}
.FoodMenuContainer p {
	margin: 2rem 0 0 0;
}
@media desktop {
	.FoodMenuContainer .ContentContainer {
		float: left;
		position: relative;
		top: 3rem;
		margin-left: 6rem;
	}
}
.FoodMenuPricing {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	list-style-type: none;
	font-size: 1.5rem;
	margin: 4rem 0;
	padding: 0;
	line-height: 175%;
}
@media tablet {
	.FoodMenuPricing {
		margin: 4rem 15rem;
	}
}
@media desktop {
	.FoodMenuPricing {
		margin: 4rem 0;
	}
}
.FoodMenuPricing li{
	width: 50%;
}
.FoodMenuList {
	margin: 9rem 5rem;
	position: relative;
	top: 4rem;
	clear: both;
}
@media tablet {
	.FoodMenuList {
		margin: 9rem 11rem;
		}
}
@media desktop {
	.FoodMenuList {
		clear: none;
		display: flex;
		flex-wrap: wrap;
		position: relative;
		top: 8rem;
	}
}
.FoodMenuList dt {
	font-size: 1.5rem;
	margin: 1rem;
	color: #ff3431;
}
.FoodMenuList dd {
	margin: 0 0 4rem 3rem;
	line-height: 150%;
}
.FoodMenuListItem {
	width: 50%;
	padding: 0 6rem;
}
.FoodMenuHeading {
	position: relative;
	top: 13rem;
	left: 3rem;
}
.FullWidth .HeadingSmall{
	top: 5rem;
	left: 6rem;
}
.FullWidth .FoodMenuList {
	margin: 8rem;
}
.FullWidth .FoodMenuListItem {
	width: 33%;
}