#FoodMenu {
}
.FoodMenuContainer p {
	margin: 2rem 0 0 0;
}
.FoodMenuPricing {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	list-style-type: none;
	font-size: 1.5rem;
	margin: 4rem 0;
	padding: 0;
	line-height: 175%;
}
.FoodMenuPricing li{
	width: 50%;
}
.FoodMenuList {
	margin: 5rem;
}
.FoodMenuList dt {
	font-size: 1.5rem;
	margin: 1rem;
}
.FoodMenuList dd {
	margin: 0 0 4rem 3rem;
	line-height: 150%;
}
